<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body style="margin: 40px;">
        <h2>scatterplot</h2>
        <hr>
        <form action="/scatterplot" method="post">
            최대값: <input type="number" name="max" ><br><br>
            최소값: <input type="number" name="min" ><br><br>
            평균: <input type="number" name="avg"><br><br>
            표준편차: <input type="number" name="standard"><br><br>
            총개수 :<input type="number" name="num"><br><br>
            <input type="submit" value="제출">
            </form>
</head>
<body>
    
</body>
</html>